extends ../template

block variables
  - var title = 'Добро пожаловать'

block content
  div.wrapper
    div.authorization-button
      a.authorization-link Авторизоваться
    div.welcome
      div.welcome_photo
        img.welcome_img(src="assets/images/myphoto.jpg")

